/node_modules
/public_html/mbs/hot
/public_html/mbs/storage
/mybs/storage/*.key
/mybs/vendor
/mybs/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
